services:
  # 1. SERVICIO DE BASE DE DATOS (MYSQL)
  mysql_db:
    image: mysql:8.0
    container_name: db_mysql
    restart: always
    #platform: linux/x86_64 # para MAC
    environment:
      # Las credenciales son tomadas de forma segura desde el archivo .env
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      # Exponer el puerto de MySQL al host (opcional, útil para herramientas externas)
      - "3306:3306"
    volumes:
      - ./database/data:/var/lib/mysql:z
      - ./database/init:/docker-entrypoint-initdb.d:z
    networks:
      - linktick_network
    healthcheck:
      # Comando para verificar si MySQL está listo para aceptar conexiones
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "${MYSQL_USER}", "-p${MYSQL_PASSWORD}"]
      interval: 10s
      timeout: 5s
      retries: 5
  
  # 2. MICROSERVICIO DE PRODUCTOS (Node.js/Express)
  products-service:
    build:
      context: ./backend/products-service
      dockerfile: dockerfile
    container_name: products_service
    restart: always
    env_file:
      - .env
    environment:
      # Sobrescribe el host de la BD para que apunte al servicio de Docker
      - DB_HOST=mysql_db
    ports:
      # Mapea el puerto del host al puerto del contenedor (ej. 8001)
      - "8001:8001"
    volumes:
      - ./logs/products-service:/app/logs:z
    depends_on:
      mysql_db:
        condition: service_healthy
    networks:
      - linktick_network

  # 2.1 SERVICIO DE PRUEBAS PARA PRODUCTS-SERVICE
  products-service-tests:
    build:
      context: ./backend/products-service
      dockerfile: dockerfile
      target: builder
    container_name: products_service_tests
    env_file:
      - .env
    environment:
      - DB_HOST=mysql_db
    # Sobrescribimos el comando de inicio para que ejecute todas las pruebas
    command: ["npm", "test"]
    depends_on:
      mysql_db:
        condition: service_healthy
    networks:
      - linktick_network

  # 3. MICROSERVICIO DE INVENTARIO (Python/Flask)
  inventory-service:
    build:
      context: ./backend/inventory-service
      dockerfile: dockerfile
    container_name: inventory_service
    restart: always
    env_file:
      - .env
    environment:
      # Sobrescribe el host de la BD para que apunte al servicio de Docker
      - DB_HOST=mysql_db
    ports:
      # Mapea el puerto del host al puerto del contenedor
      - "8000:8000"
    volumes:
      - ./logs/inventory-service:/app/logs:z
    depends_on:
      mysql_db:
        # Espera a que el healthcheck de la BD sea exitoso antes de iniciar
        condition: service_healthy
    networks:
      - linktick_network

  # 3.1 SERVICIO DE PRUEBAS PARA INVENTORY-SERVICE
  inventory-service-tests:
    build:
      context: ./backend/inventory-service
      dockerfile: dockerfile
      target: builder
    container_name: inventory_service_tests
    # No usamos 'restart: always' porque este contenedor solo debe correr una vez.
    env_file:
      - .env
    environment:
      - DB_HOST=mysql_db
    # Sobrescribimos el comando de inicio para que ejecute pytest en lugar de gunicorn
    command: ["pytest"]
    depends_on:
      mysql_db:
        condition: service_healthy
    networks:
      - linktick_network

  # 4. SERVICIO DE FRONTEND (Angular con Nginx)
  frontend-service:
    build:
      context: ./frontend/products-manage
      dockerfile: dockerfile
    container_name: frontend_service
    restart: always
    ports:
      # Mapea el puerto 80 del contenedor al puerto 4200 del host
      - "4300:80"
    depends_on:
      - products-service
      - inventory-service
    networks:
      - linktick_network

  # 5. SERVICIO DE DOCUMENTACIÓN (HTML estático con Nginx)
  documentation-service:
    image: nginx:alpine
    container_name: documentation_service
    restart: always
    ports:
      # Mapea el puerto 80 del contenedor al puerto 8080 del host
      - "8080:80"
    volumes:
      # Monta el directorio de documentos en el directorio web raíz de Nginx
      - ./documents:/usr/share/nginx/html:ro,z
    networks:
      - linktick_network
# ===================================================
# DEFINICIÓN DE REDES Y VOLÚMENES
# ===================================================
networks:
  # Red interna compartida por todos los microservicios (Backend y DB)
  linktick_network:
    driver: bridge
